*~
#*#
.*
!.gitignore
lib/*
!lib/*.in
!lib/shell.sh
!lib/Dewifile.stub
Dewifile
bin/bootstrap.sh
bin/inall.sh
doc/*.1
doc/*.5
doc/*.7
dewi
local.stamp
bin/dewi.pl
bin/bzip2.sh
bin/gzip.sh
bin/tar.sh
test/etc/*/Makefile
test/etc/*/Dewifile
test/home/
test/etc/.dewi/
test/etc/Makefile
